.harrixListWithFilter ul {
    display: none;
}

.harrixListWithFilter ul, li {
    max-width: 500px;
}

.harrixListWithFilter .no-results {
    display: none;
}

.harrixListWithFilter .count_li {
    float: right;
    margin-left: 10px;
}
.harrixListWithFilter li.collapsed {
    content:''; 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 20px; 
    background-image: url(../assets/collapsed.svg);
}
.harrixListWithFilter  li.expanded {
    content:''; 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 20px; 
    background-image: url(../assets/expanded.svg);
}