.harrixListWithFilter ul {
    display: none;
}

.harrixListWithFilter ul, li {
    max-width: 500px;
}

.harrixListWithFilter .no-results {
    display: none;
}

.harrixListWithFilter .count_li {
    float: right;
    margin-left: 10px;
}

.harrixListWithFilter li.collapsed {
    list-style-image: url('../assets/collapsed.svg');
}

.harrixListWithFilter  li.expanded {
    list-style-image: url('../assets/expanded.svg');
}