.harrixListWithFilter  {
}

.harrixListWithFilter ul, li {
    max-width: 500px;
}

.harrixListWithFilter ul {
    display: none;
}

.harrixListWithFilter li {
    list-style: none;
}

.harrixListWithFilter li.padding-left:before {
    padding-left: 18px;
}

.harrixListWithFilter .no-results {
    display: none;
}

.harrixListWithFilter .count_li {
    float: right;
    margin-left: 10px;
}

.harrixListWithFilter li.collapsed:before { 
    content: ''; 
    display: inline-block; 
    height: 10px; 
    width: 10px; 
    background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20141.7%20141.7%22%20style%3D%22enable-background%3Anew%200%200%20141.7%20141.7%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%09.st0%7Bfill%3A%23959595%3B%7D%3C%2Fstyle%3E%3Cpolygon%20class%3D%22st0%22%20points%3D%22131.6%2C70.9%2010.1%2C0.7%2010.1%2C141%20%22%2F%3E%3C%2Fsvg%3E'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    padding-left: 18px; 
}

.harrixListWithFilter li.expanded:before { 
    content: ''; 
    display: inline-block; 
    height: 10px; 
    width: 10px; 
    background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20141.7%20141.7%22%20style%3D%22enable-background%3Anew%200%200%20141.7%20141.7%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%09.st0%7Bfill%3A%23959595%3B%7D%0D%0A%3C%2Fstyle%3E%3Cpolygon%20class%3D%22st0%22%20points%3D%2270.9%2C131.6%20141%2C10.1%200.7%2C10.1%20%22%2F%3E%3C%2Fsvg%3E'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    padding-left: 18px; 
}

/*input[type="text"] {
   border: 1px solid #cccccc;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   background: #ffffff !important;
   outline: none;
   height: 24px;
   width: 120px;
   color: #cccccc;
   font-size: 11px;
}

input[type="text"]:focus {
  color: #000000;
  border: 1px solid #000000
}*/